<div class="card">
  <img
    [src]="product?.image"
    class="card-img-top"
    alt="{{ product?.title }}"
    [title]="product?.title"
  />
  <div class="card-body d-flex flex-column align-items-center">
    <h5 class="card-title">{{ product?.title }}</h5>
    <p class="card-text">{{ product?.description }}</p>
    <p class="card-text"><strong>Catégorie :</strong> {{ product?.category }}</p>
    <p class="card-text">
      <strong>Prix :</strong> {{ product?.price | currency : 'EUR' : 'symbol' : '1.2-2' }}
    </p>
    <p class="card-text">
      <strong>Note :</strong> {{ product?.rating?.rate }} ({{ product?.rating?.count }} avis)
    </p>
    <a
      href="#"
      class="btn btn-primary"
      [ngClass]="{
        desactivated: !userIsAdmin
      }"
      [ngStyle]="{
        backgroundColor: !userIsAdmin ? 'gray' : ''
      }"
      >Go somewhere</a
    >
  </div>
</div>
